.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.5);
  }



.custom-modal-content {
    background-color: rgba(255, 255, 255, 0.8);
    width: 800px;
    height: 800px;

}

.custom-modal-content-header {
    height: 30%;
}

.custom-modal-content-body {
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.custom-modal-content-img_container {

}

.custom-modal-content-stats {

}


