@import url("https://fonts.googleapis.com/css?family=Shojumaru");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto"; */
}

.global-heading {
  font-family: Shojumaru, cursive;
  text-align: center;
  font-size: 70px;
  color: #387ef0;
  /* background-color: rgb(84, 84, 84); */
  text-shadow: #ff2288 2px 2px 2px;
}
.landingpageText {
  font-family: Shojumaru, cursive;
  text-align: center;
  /* color: #387ef0; */
  color: #ff2288;
  /* background-color: rgb(84, 84, 84); */
  text-shadow: #387ef0 1px 1px 1px;
  /* text-shadow: #ff2288 1px 1px 1px; */
}
.instructionText {
  /* border: goldenrod 5px solid; */
  font-family: Shojumaru, cursive;
  text-align: start;
  /* color: #387ef0; */
  color: #ff2288;
  /* background-color: rgb(84, 84, 84); */
  text-shadow: #387ef0 1px 1px 1px;
  /* text-shadow: #ff2288 1px 1px 1px; */
}
.modal-card-parent .css-18wnu3n-MuiPaper-root-MuiCard-root {
  font-family:  Shojumaru, cursive;
}